/*  Regola per responsiveness nei telefoni per la sezione Hero */
@media (min-width: 992px) {
  .hero-section {
    padding: 5rem 2rem;
  }

  .hero-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "testo immagine"
      "statistiche immagine";
    gap: 3rem 4rem;
  }

  .hero-immagine img {
    max-width: 100%;
  }
}

// fine modifiche per la sezione Hero